/****Form****/

#form {
	padding-top: 12px;
	position: relative;
	padding-right: 0px;
}

#form input {
   border: none;
    background: #392e35;
	 padding: 5px 18px 8px;
	width: 100%;
	border: 1px solid #40363d;
	height: 35px;
	color: #98948c;
	float:left;
	font:13px/22px Arial, Helvetica, sans-serif;
	color:#60575c;	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

#form textarea {
	height: 255px;
	overflow: auto;
     border: none;
    background: #392e35;
	padding: 11px 18px 8px;
	width: 100%;
	border: 1px solid #40363d;
	position: relative;
	resize:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	font:13px/22px Arial, Helvetica, sans-serif;
	color:#60575c;
	margin: 0;
	
}

#form label {
	position:relative;
	display: block;
	min-height: 54px;
	width: 221px;
	float: left;
	clear: left;
}




#form .error, #form .empty {
	color: #fff;
	display: none;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 5px;
	top: 8px;
	float:left;
}



#form .error-empty {
	display:none;
	float:left;
}

.btns {
	position:relative;
	text-align: right;
	padding-top: 24px;

}


 .btns a.link1 {
 	position: relative;
 	top: 2px;
	margin: 0 0px 0 22px  !important;

    cursor: pointer;

}



#form .message {
	width: 100%;

}

.phone, .message {
	position: relative;
	top: 2px;
}


.message br {
	height: 0;
	line-height: 0;
}

#form .success {
	display: none;
	position: absolute;
	width: 221px;
	border: 1px solid #40363d;
    background: #392e35;
	text-align: center;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}



.success_wrapper {
	position: relative;	
}

@media only screen and (max-width: 995px) {



#form label {
	float: none !important;	
	width: 100%;
}

#form input {
	margin-bottom: 10px;
}

#form label.message {
	width: 100% !important;
}

#form .success {
	width: 100%;
}

.btns {
	padding-right: 0;
}

#form label.email {
	width: 100%;
	margin: 0;
}

  .dl1 span {
  	width: auto !important;
  }


}

@media only screen and (max-width: 767px) {
  .map {
	margin-bottom: 25px;
}
  .btns {
		padding-bottom: 0;  
  }

.dl1 {
	margin-bottom: 30px;
}

  #form textarea {
		height: 300px !important;  
  }
  
}
@media only screen and (max-width: 479px) {
 
  #form textarea {
		height: 200px !important;  
  }
}