@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:800);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);

ul.sf-menu li {behavior:url(js/PIE.htc); position:relative;}
ul.sf-menu>li ul li {behavior:url(js/PIE.htc); position: relative;}
ul.sf-menu>li ul li li{behavior:url(js/PIE.htc); position: relative;}
ul.sf-menu>li ul {behavior:url(js/PIE.htc); position: absolute;}

a.info_mail:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.client_bg a img {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
}

.client_bg a:hover img{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

 .prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

