/* menu */

header nav {
	float: right;
	padding-top: 43px;
	padding-right: 15px;
 
}

div.lang{
	float: right;
	padding-top: 20%;
	margin-right: -50%;
}

.sf-menu {
	display:block;
	text-align: left;
	margin: 0 auto;
}
.sf-menu ul {
	position:absolute;
	top:-999px;
	display:none;
}
.sf-menu li {
	position:relative;
	display: inline-block;

}
ul.sf-menu>li:first-child a {
	background: none;
}

.sf-menu a {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:12px;
	font-weight: normal;
	text-transform:uppercase;
	display: block;
	color:#fff;
	padding: 12px 16px 10px 16px; 
	background: none;
	
}

.sf-menu>li>a.sf-with-ul {
	padding-right: 46px;
}

ul.sf-menu>li>a>span {
	background: url(../images/menu_arrow.png) no-repeat left top;
	width: 16px;
	height: 8px;
	position: absolute;
	top: 14px;
	right: -35px;
	left: 60px;
	display: block;
	margin: 0 auto;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	z-index:99
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top:-999px;
	display:none;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left:100%;
	top:0;
}

ul.sf-menu>li {
	position:relative;
	text-align:center;
	display:inline-block;
	margin: 0 8px;	
	background: url(../images/spacer.gif) repeat 0 0;
	border-radius: 7px; 
}

ul.sf-menu>li:after {
	content: '';
	background: url(../images/menu_sep.png) 0 center no-repeat;
	height: 21px;
	width: 2px;
	position: absolute;
	top: 6px;
	right: -8px;	
}

ul.sf-menu>li.last:after {
	display: none;	
}

ul.sf-menu>li.current, ul.sf-menu>li.sfHover, ul.sf-menu>li:hover {
	background: url(../images/menu_button.png) repeat-x 0 0 #049EB8;
}

.sf-menu>li>ul {
	width:100px;
	left: -9px;
	top:52px;
	background: url(../images/sub_top.png) 0 0 no-repeat #1f181e;
	border-radius: 8px;
	padding: 17px 5px 19px;
	text-align: center;
}
.sf-menu>li>ul>li {
	text-align: center;
	float: none;
	width: 148px;
	position: relative;
	line-height: 12px;
	border-radius: 7px; 
	background: #1F181E;
	margin: 5px 0 4px;
}
ul.sf-menu>li li:after {
	content: '';
	border-bottom:#2b2329 1px solid;
	height: 1px;
	width: 118px;
	position: absolute;
	bottom: -5px;
	right: 50%;
	margin-right: -59px;	
	z-index: 10;
}

ul.sf-menu>li li.last:after {
	display: none;	
 }
.sf-menu>li>ul>li>a {
	color:#fff;
	font-size: 12px;
	line-height: 12px;
	display: block;
 	padding: 10px 5px 9px;
	
}
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover {
	background: #2b2329;

}


.sf-menu>li>ul>li>ul {
	width:148px;
	left:154px !important;
	top: -22px !important;
	padding: 17px 5px 10px;
	background: url(../images/sub_top.png) 0 0 no-repeat #1f181e;
	border-radius: 8px;
}
.sf-menu>li li>ul>li {
	text-align: center;
	float: none;
	width: 148px;
	position: relative;
	line-height: 12px;
	border-radius: 7px; 
	background: #1F181E;
	margin: 5px 0 4px;
}

ul.sf-menu>li li>ul>li:after {
	content: '';
	border-bottom:#2b2329 1px solid;
	height: 1px;
	width: 118px;
	position: absolute;
	bottom: -5px;
	right: 50%;
	margin-right: -59px;	
	z-index: 10;
}

ul.sf-menu>li li>ul>li.last:after {
	display: none;	
 }
.sf-menu>li>ul>li>ul>li>a {
	color:#fff;
	font-size: 12px;
	line-height: 12px;
	display: block;
 	padding: 10px 5px 9px;
	
}
.sf-menu>li>ul>li>ul>li:hover, ul.sf-menu>li>ul>ul>li>li.sfHover {
	background: #2b2329;
}




.sf-menu>li>ul>li>.sf-with-ul:after {
	content: '';
	display: block;
	position: absolute;
	background: url(../images/arrows.png) 0 bottom no-repeat;
	width: 7px;
	height: 5px;
	left: 50%;
	margin-left: -4px;
	bottom: 2px;
	pointer-events: none;
} 




/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {



  header nav {
  	margin-left: 0;
  }

}
@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 0px !important;	
		padding: 20px 10px 20px;
		clear: both;
		left: 0;
		right: 0;
	}



nav {
	padding-left: 20px;
	padding-right: 20px;
    padding-bottom: 20px;
}



header .fright {
	float: none;
}

	.head-box3 {
		padding: 25px 0;
	}

.foot-img {
	display: block;
}


.sf-menu {
	display: none;
}

  header nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		background: none;
		margin: 0 auto;
		
	
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
			color: #fff;
			font-weight: bold;
			
		}
	#mm0{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #fff;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
