﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color:#5495DF;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: auto;
    padding: 0;
    color: #696969;
    width:1000px;
    overflow:scroll;
    
    
}

html
{
   
    width:100%;
}
a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}
error
{
color:red;
}

span.bool-size
{
    font-size: x-small;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    min-height:100%;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    background-color:#fff;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    min-height:600px;
    
}

#footer
{
    clear:both;
    color: #0041C2;
    text-align: center;
    font-size: 1.2em;
    height:50px;
    width:100%;
	position:relative;
	bottom:0;
	left:0;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu,ul#menu1
{
    padding: 0 0 2px;
    position: relative;
    margin: 0;
}

ul#menu li, ul#menu1 li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a,ul#menu1 li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #0099CC;
    color: #003366;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

.buttons
{
    background-color:#BDB76B;
}
fieldset p 
{
    margin: 2px 12px 10px 10px;
}

#licenceInfo,#licenceInfo1
{
    width:400px;
    margin-left:200px;
    background-color:#FFFACD;
    border-color:#0C2C52;
}

#licenceOption
{
    width:950px;
    margin-left:200px;
    background-color:#FFFACD;
    border-color:#0C2C52;
   
}

#grid1
{
    width:400px;
    margin-left:20px;
    margin-right:60px;
    background-color:#FFFACD;
    border-color:#0C2C52;
    float: left;
}
.divOptions
{
    margin-top: 60px;
}

#grid2
{
    width:200px;
    background-color:#FFFACD;
    border-color:#0C2C52;
    float: left;
    margin-left : 30px;
}

#grid3
{
    width:200px;
    background-color:#FFFACD;
    border-color:#0C2C52;
    float: left;
    margin-left: -10px;
}

#grid3 div.editor-label,#grid2 div.editor-label
{
    width:110px;
}

#uploadMSI
{
    width:600px;
    height:150px;
    color:#0099CC; 
    background-color:#FFFACD;
    border:4px solid #444;
    padding:12px;
}

div#latestVer 
{
    color:#FFFACD;
    font-size:x-large;
    float:left;
}

span#MSI_Version1,span#MSI_Version2
{
    color: Aqua;
    font-size:larger;
}
div#displayMSI
{
    width:700px;
    height:250px;
    background-color:#333;
    border-color:#0C2C52;
    padding-top:20px;
}   
.updates
{
    margin-left:100px;
    background-color:#FFFACD;
    border-color:#0C2C52;
    width:1000px;
}

legend ,.legend
{
    font-size: 1.5em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    color:#0099CC;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

/*table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}*/

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}
input[type="text"].search
{
    background-color:#88CCFF;
    
}

.menucontainer
{
   float:left;
   margin-top:-20px;
   margin-left:5px;
   width:450px;
}
.searchcontainer
{
   float:right;
   margin-top:-20px;
   margin-right:400px;
   width:500px;
}

#logindisplay
{
    font-size:1.1em;
    float:right;
    margin-bottom:-20px;
    color:gray;
    border:2px solid black;
}

#logindisplay a:link
{
    color: red;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: red;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: red;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.display-field
{
    margin: 0.5em 0;
}

.editor-field-j
{
   width:380px;
}

.editor-field
{
   width:380px;
}

.editor-label
{
    background-color:#FFFACD;
    float:left;
    width:150px;
    color:black;
    font-size:larger;
    font-family:Arial;
    
}
.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/*images*/
div#title{
    overflow:hidden;
    position: relative;
    height: 145px;
    width:100%;
}

img.alm-logo{
    height:130px;
    width:100%;
    position:absolute;
    z-index:1;
}

img.alm-sol{
    
    position:absolute;
    margin-left:2%;
    margin-top:30px;
    float:left;
    z-index:2;
}
img.alm-lic{
    
}


/*tables*/
table.list th
{
    background-color:#1569C7; 
    border: 1px solid #2554C7;
    color:#ffffb2;
}
table.activate td
{
     border: 0px solid gray;
     
}
table.list td
{
   border: 1px solid gray !important;
   position: static;
}
table.list 
{
    border-collapse:collapse;
    margin-left:10px;
    margin-right:10px;
    padding-bottom: 3px;  
    padding-top: 3px; 
    background-color:#CCFFFF;

}
span.editMe
{
    float:left;
    width:50px;
    
}
span.deleteMe
{
    float:left;
    width:50px;
}
